.nav
	padding-left 0
	list-style none
	& > li > a
		display block
		padding 10px 15px
		&:hover
			text-decoration none
.navbar-nav
	position relative
	min-height 50px
	margin-bottom 0
	border 1px solid #f8f8f8
	& > li
		display inline-block
		& > a
			color #777
			line-height 1.6em
			padding-top 15px
			padding-bottom 15px
